<div class="contact">
    <div class="container">
        <h1 class="text-center">ABOUT COMPONENT</h1>
        <div class="icon star-icon text-center position-relative mb-5  mx-auto"><i class="fa-solid fa-star"></i></div>
       <div class="inputs w-75 m-auto">
        <label  for="userName" class="position-relative mb-4 top-0 __top">userName : </label>
        <input type="text" class="form-control  border-0 border-bottom" name="userName" placeholder="userName" >
        <label  for="userAge" class="position-relative mb-4 top-0 __top">userAge : </label>
        <input type="text" class="form-control  border-0 border-bottom" name="userAge" placeholder="userAge" >
        <label  for="userEmail" class="position-relative mb-4 top-0 __top">userEmail : </label>
        <input type="text" class="form-control  border-0 border-bottom" name="userEmail" placeholder="userEmail" >
        <label  for="userPassword" class="position-relative mb-4 top-0 __top">userPassword : </label>
        <input type="text" class="form-control  border-0 border-bottom" name="userPassword" placeholder="userPassword" >
        <button class="btn mt-4 text-white mb-3" style="background-color: #1abc9c;"> send Message </button>
       </div>
    </div>
</div>
