<div class="about vh-100 text-center d-flex justify-content-center align-items-center text-white">
    <div class="container ">
        <h1>ABOUT COMPONENT</h1>
        <div class="icon star-icon position-relative  m-auto"><i class="fa-solid fa-star text-white "></i></div>
        <div class="row pt-5">
            <div class="col-md-6">
              <div class="about-item">
                <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p> 
              </div>
            </div>
            <div class="col-md-6">
                <div class="about-item">
                  <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p> 
                </div>
              </div>
        </div>
    </div>
  
</div>