<div class="footer-section  text-white  bg-danger">
    <div class="foot-sec1 bg-dark w-100 p-3">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-4">
                    <h2>LOCATION</h2>
                    <p>2215 John Daniel Drive</p>
                    <p>Clark, MO 65243 </p>
                </div>
                <div class="col-md-4">
                    <h2>AROUND THE WEB</h2>
                    <div class="icons fs-5"><i class="fa-brands fa-facebook mx-1 icon p-2 bg-danger rounded-circle border  border-1 boreder-white"></i><i class="fa-brands fa-twitter mx-1 icon p-2 bg-danger rounded-circle border  border-1 boreder-white"></i><i class="fa-brands fa-linkedin-in mx-1 icon p-2 bg-danger rounded-circle border  border-1 boreder-white"></i><i class="fa-solid fa-globe mx-1 icon p-2 bg-danger rounded-circle border  border-1 boreder-white"></i></div>
                </div>
                <div class="col-md-4">
                    <h2>ABOUT FREELANCER</h2>
                    <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
                </div>
            </div>
           </div>
    </div>
  <div class="foot-copy-right d-flex justify-content-center align-items-center bg-black p-2">
    <p>Copyright © Your Website 2021</p>
  </div>
   </div>

  